# Created by .ignore support plugin (hsz.mobi)
/.idea/
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/test-dir.iml
.idea/vcs.xml
data-science-module/task_1/services/__pycache__/
